<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zeusgd.AnimeFlick">

    <!-- 🛜 Permiso para internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:label="AnimeFlick"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimeFlick"
        tools:ignore="ExtraText">

        <!-- ⚙️ SplashActivity and 🟢 Main Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 🟢 Main Activity
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->

        <activity android:name=".MainActivity" />

        <!-- 🎬 Video Player Activity -->
        <activity android:name=".VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            tools:ignore="Instantiatable" />

    </application>
</manifest>
